.heading {
    font-family: Verdana, sans-serif;
    color: #4c1052;
}

img {
    width: 400px;
    height: auto;
}

.nav {
    color: black;
    background-color: rgb(228, 228, 186);
}

.center {
    text-align: center;
}